# <span style="color:green"><center>Diplomado en Big Data</center></span>

# <span style="color:red"><center>Spark - Introducción<center></span>

<img src="../Imagenes/spark_logo.png" align="right" width="30%">

##   <span style="color:blue">Profesores</span>

1. Alvaro Mauricio Montenegro Díaz, ammontenegrod@unal.edu.co
2. Daniel Mauricio Montenegro Reyes, dextronomo@gmail.com

##   <span style="color:blue">Asesora Medios y Marketing digital</span>

4. Maria del Pilar Montenegro, pmontenegro88@gmail.com

## <span style="color:blue">Contenido</span>


* [Introducción](#Introducción)
* [Funciones lambda, y funciones map, filter y reduce de Python](#Funciones-lambda,-y-funciones-map,-filter-y-reduce-de-Python)
* [Introducción a los dataframes de Spark](#Introducción-a-los-dataframes-de-Spark)
* [SQL con los dataframes de Spark](#SQL-con-los-dataframes-de-Spark)
* [Operaciones y funciones con los dataframes de Spark Dataframes](#Operaciones-y-funciones-con-los-dataframes-de-Spark)
* [Funciones estándar en nuestras operaciones](#Funciones-estándar-en-nuestras-operaciones)
* [Datos faltantes en los Dataframes  de Spark](#Datos-faltantes-en-los-Dataframes-de-Spark)
* [Trabajar con fecha y hora en Spark Dataframe](#Trabajar-con-fecha-y-hora-en-Spark-Dataframe)

## <span style="color:blue">Referencias</span>

1. Basado en [Guía de instalación de Spark en Ubuntu](https://phoenixnap.com/kb/install-spark-on-ubuntu)
1. Athul Dev, [Spark with Python](http://libgen.rs/search.php?req=spark+with+python+dev&open=0&res=25&view=simple&phrase=1&column=def)
1. [Guía de instalción de Spark en Windows 10](https://phoenixnap.com/kb/install-spark-on-windows-10)

## <span style="color:blue">Introducción</span>

Apache Spark es un marco utilizado en entornos de computación en clúster para analizar big data. Esta plataforma se hizo muy popular debido a su facilidad de uso y las velocidades de procesamiento de datos mejoradas en Hadoop.

Apache Spark puede distribuir una carga de trabajo en un grupo de computadoras en un clúster para procesar de manera más efectiva grandes conjuntos de datos. Este motor de código abierto admite una amplia gama de lenguajes de programación. Esto incluye Java, Scala, Python y R.

Primero revisaremos algunos conceptos de Pyhton que será útiles para lo sigue. Luego ...

## <span style="color:blue">Funciones lambda, y funciones  map, filter y reduce de Python</span>

### Funciones lambda

Una función Lambda es como una función normal pero sin un nombre, es más como una función anónima. Puede tomar cualquier número de argumentos, pero solo puede tener una sola expresión.

#### Sintaxis de una función lambda

`lambda  argumentos: expresión`

Las funciones Lambda son muy eficientes y su ventaja es que se puede utilizar fácilmente dentro de
otra función. Entonces, es básicamente como tener una función anónima dentro de una función.

Podemos revisar el siguiente fragmento de código y comprender mucho el uso de las funciones lambda
mejor.

In [1]:
# función lambda simple
multiply  = lambda a,b: a * b
print(multiply(3,2))

6

### map()

La función `map()`es usada para aplicar una función a cada uno de los elementos de una secuencia. *map()* toma dos argumentos: la función a aplicar y la secuencia a la cual se aplicara la función

#### Sintaxis de map()

+ `result_map = map(función, secuencia)`

Veámos el siguiente ejemplo:

In [3]:
#Convierte Celcius a Farenheit
Celcius = [40, 33, 36.4, 40.1, 30.1]
Farenheit = map(lambda x: (float(9)/5)*x +32, Celcius)
print(list(Farenheit))

# mapeo con  varias listas
l1 = [5,10,15]
l2 = [1, 2, 3]
l3 = [2, 4, 6]
print(list(map(lambda x,y,z: (x+z)*y,l1,l2,l3)))

[104.0, 91.4, 97.52, 104.18, 86.18]
[7, 28, 63]

### Función filter()

La función de filter, como sugiere el nombre, se usa para filtrar todos los elementos de
la lista, para la cual la función devuelve True.

#### Sintaxis -

+ `filter(función, lista)`

La función, *filter(F, L)* necesita una función F como primer argumento. La función F devuelve un
Valor booleano, que es Verdadero o Falso. Esta función se aplicará a todos y cada uno
elemento de la lista L y solo si la función F devuelve Verdadero, el elemento de la lista será
incluido en la lista de resultados.

Podemos revisar el siguiente código para comprender el uso de *filter()*:

In [4]:
numbers = [0,0,1,2,3,5,6,9,11,23,34,45,50,77]
#obtaining the odd numbers from the numbers list
odd_numbers = filter(lambda x: x % 2, numbers)
print(list(odd_numbers))

[1, 3, 5, 9, 11, 23, 45, 77]

### Función reduce()

La función `reduce()` se usa para aplicar continuamente la lógica de una  función a los elementos de la lista.

#### Sintaxis

+ `reduce(función, lista)`

La función *reduce()*, inicialmente toma los dos primeros elementos de la lista, aplica  la lógica de la función
en estos dos elementos, entonces toma el resultado de estos dos elementos y 
la lógica de función se realiza de nuevo con el resultado de los dos primeros elementos y el tercer elemento de la lista y esto continúa hasta que se aborda el último elemento de la lista.


Suponiendo que tenemos una Lista, L = [L1, L2, L3, ......, Ln], `reduce(F, L)` funciona de esta manera:

* Al principio, los dos primeros elementos de la lista L se aplicarán a la función F, es decir F(L1, L2). En esta etapa, la lista en la que trabaja reduce () se puede pensar así: [F (L1, L2), L3, ..., Ln]
* En el siguiente paso, se aplicará F sobre el resultado anterior y el tercer elemento de la lista, que es F(F (L1, L2), L3).  Ahora, la lista se puede pensar así: [F(F(L1, L2), L3), ..., Ln]
* De manera similar, continúa este proceso hasta que se hayan abordado todos los elementos de la lista y devuelve el valor final de la función "F" como resultado de *reduce()*. 

Podemos revisar el código a continuación y comprender el funcionamiento y el uso de *reduce()*.

In [7]:
#importa la librería reduce
from functools import reduce 

counting=reduce(lambda x, y: x+y, range(1,50))
print("Suma de los números 1 a 50 is {}".format(counting))

multiplying=reduce(lambda x,y: x*y, [1,5,10])
print("La multiplicación de l a lista es {}".format(multiplying))

largest_in_list = lambda a,b: a if (a > b) else b
largest=reduce(largest_in_list, [100,101,155,122,210])
print("El elemento más grande de las lista es {}".format(largest))

Suma de los números 1 a 50 is 1225
La multiplicación de l a lista es 50
El elemento más grande de las lista es 210

## <span style="color:blue">Introducción a los dataframes de Spark</span>

Los *Dataframes* de Spark puede tratar con varias fuentes de datos, lo que significa que puede ingresar y
generar datos de una amplia variedad de fuentes como csv, json, etc. 

También podemos realizar varias transformaciones en los datos y recopilar los resultados para visualizar, registrar o para algún otro proceso.

Para comenzar a trabajar con `Spark Dataframes`, tenemos que crear una sesión de Spark. La sesión es como un punto de entrada unificado de una aplicación Spark, proporciona una forma de interactuar con varias funcionalidades de Spark. Así que veamos cómo podemos crear una sesión.

In [1]:
# Busca Spark
import findspark
findspark.init()

#Importa la sesión Spark 
from pyspark.sql import SparkSession

#Crea una sesión Spark
spark = SparkSession.builder.appName('myFirstSparkSession').getOrCreate()

A continuación, trabajemos con algunos datos reales para hacer eso, primero necesitamos leer un conjunto de datos, por esto, podemos usar el método de lectura del contexto de chispa. También podemos seleccionar el tipo de
archivo de conjunto de datos que necesitamos cargar, y para esto, el método de lectura tiene varias opciones disponibles como csv, json y demás.

Podemos cargar el archivo del conjunto de datos que está presente en nuestra computadora como

dataFrame_name = spark_session_variable.read.csv(‘filename’)

In [2]:
# Busca Spark
# import findspark
#findspark.init()

# Importa la sesión Spark 
#from pyspark.sql import SparkSession

# Crea una sesión Spark
#spark = SparkSession.builder.appName('myFirstSparkSession').getOrCreate()

# Lee los datos sin el parámetro inferSchema
df = spark.read.csv("../Datos/employee_data.csv",header=True) 

# despliega el dataframe
df.show() 

# imprime el esquema del tipo de datos sin  inferSchema
df.printSchema() 

# Lee los datos con el parámetro inferSchema
df = spark.read.csv("../Datos/employee_data.csv",header=True,inferSchema=True) 

# imprime el esquema del tipo de datos con  inferSchema
df.printSchema()

# obtiene la lista de columnas
df.columns

+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington| null|
|       A003|         Jeff|  56|      null| null|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

root
 |-- employee_id: string (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- location: string (nullable = true)
 |-- hours: string (nullable = true)

root
 |-- employee_id: string (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- hours: integer (nullable = true)

['employee_id', 'employee_name', 'age', 'location', 'hours']

### Trabajando con columnas en Spark

#### Recuperando columnas y su contenido

+ Usando el dataframe directamente: `df['column_name']`
+ Usando la opción select en el dataframe: `df.select(column_name)`

Algunos ejemplos:

In [5]:
df.select('age').show()

+----+
| age|
+----+
|  47|
|  64|
|  56|
|null|
+----+

In [9]:
df.select(['employee_name', 'age']).show()

+-------------+----+
|employee_name| age|
+-------------+----+
|       Pichai|  47|
|         Bill|  64|
|         Jeff|  56|
|         null|null|
+-------------+----+

In [11]:
df['employee_name', 'age'].show()

+-------------+----+
|employee_name| age|
+-------------+----+
|       Pichai|  47|
|         Bill|  64|
|         Jeff|  56|
|         null|null|
+-------------+----+

#### Adicionando nuevas columnas

+ `df.withColumn('nombre_nueva_columna', valores_nueva_columna)`

In [13]:
df_new = df.withColumn('horas_extras', df['hours'])
df_new.show()

+-----------+-------------+----+----------+-----+------------+
|employee_id|employee_name| age|  location|hours|horas_extras|
+-----------+-------------+----+----------+-----+------------+
|       G001|       Pichai|  47|California|   14|          14|
|       M002|         Bill|  64|Washington| null|        null|
|       A003|         Jeff|  56|      null| null|        null|
|       A004|         null|null|      null|   12|          12|
+-----------+-------------+----+----------+-----+------------+

#### Renombrando columnas

In [14]:
df_renamed = df.withColumnRenamed('hours', 'horas')
df_renamed.show()

+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|horas|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington| null|
|       A003|         Jeff|  56|      null| null|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

In [16]:
df.show()

+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington| null|
|       A003|         Jeff|  56|      null| null|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

#### Eliminando una columna

In [17]:
df_new = df_new.drop('hours')
df_new.show()

+-----------+-------------+----+----------+------------+
|employee_id|employee_name| age|  location|horas_extras|
+-----------+-------------+----+----------+------------+
|       G001|       Pichai|  47|California|          14|
|       M002|         Bill|  64|Washington|        null|
|       A003|         Jeff|  56|      null|        null|
|       A004|         null|null|      null|          12|
+-----------+-------------+----+----------+------------+

### Trabajando con filas y columnas en Spark

#### Cálculo de estadísticas globales

In [19]:
# Busca Spark
# import findspark
#findspark.init()

# importa sesión  Spark
from pyspark.sql import SparkSession 

# creating a Spark Session
spark = SparkSession.builder.appName("Rows&Columns").getOrCreate()

# sube datos a un dataframe de Spark
df = spark.read.csv("../Datos/employee_data.csv",header=True,inferSchema=True)

# despliega datos
df.show()

#accesa el objeto columna age via dataframe
df["age"] 
print("Single Column Data")

#accessing single column using select, returns a dataframe
df.select("age").show()

#accessing multiple column using select, returns a dataframe
print("Multiple Column Data")

df.select(["employee_name","age"]).show() 

# Adding a new column from existing one with some operation
df_new = df.withColumn("productive_hours",df["hours"]-3)

#Renamed hours to working_hours
df_renamed = df_new.withColumnRenamed("hours","working_hours")

#dropping the column location
df_final = df_renamed.drop("location") 

print("Data with the new column productive_hours, hours Column Renamed to working_hours and dropped the location column")
df_final.show()
print("First three Data points\n")

#Fetching the list of the first 3 values in the dataframe
print(df_final.head(3)) 

print("\nSummary of Age, Working hours and Productive hours")
summary_data = df_final.select(["age","working_hours","productive_hours"])
summary_data.describe().show()

+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington| null|
|       A003|         Jeff|  56|      null| null|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Single Column Data
+----+
| age|
+----+
|  47|
|  64|
|  56|
|null|
+----+

Multiple Column Data
+-------------+----+
|employee_name| age|
+-------------+----+
|       Pichai|  47|
|         Bill|  64|
|         Jeff|  56|
|         null|null|
+-------------+----+

Data with the new column productive_hours, hours Column Renamed to working_hours and dropped the location column
+-----------+-------------+----+-------------+----------------+
|employee_id|employee_name| age|working_hours|productive_hours|
+-----------+-------------+----+-------------+----------------+
|       G001|       Pichai|  47|           14|              11|
|       M002|         Bill|  64|         null|            null|
|       A003|         Jeff|  56|         null|            null|
|       A004|         null|null|           12|               9|
+-----------+-------------+----+-------------+----------------+

First three Data points

[Row(employee_id='G001', employee_name='Pichai', age=47, working_hours=14, productive_hours=11), Row(employee_id='M002', employee_name='Bill', age=64, working_hours=None, productive_hours=None), Row(employee_id='A003', employee_name='Jeff', age=56, working_hours=None, productive_hours=None)]

Summary of Age, Working hours and Productive hours
+-------+------------------+------------------+------------------+
|summary|               age|     working_hours|  productive_hours|
+-------+------------------+------------------+------------------+
|  count|                 3|                 2|                 2|
|   mean|55.666666666666664|              13.0|              10.0|
| stddev| 8.504900548115382|1.4142135623730951|1.4142135623730951|
|    min|                47|                12|                 9|
|    max|                64|                14|                11|
+-------+------------------+------------------+------------------+

## <span style="color:blue">SQL con los dataframes de Spark</span>

Spark Dataframes nos da la opción de usar las consultas SQL para trabajar e interactuar directamente con el DataFrame. La sintaxis es conocida. Observe el siguiente ejemplo

In [20]:
# Busca Spark
# import findspark
#findspark.init()

# sesión Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

# datos
df = spark.read.csv("../Datos/employee_data.csv",header=True,inferSchema=True)

# Crea de una vista y la llama associates
df.createOrReplaceTempView("associates") 

#Crea una consulta SQL sobre associates
sql_result_1 = spark.sql("SELECT * FROM associates") 
print("Showing the results of the select query")
sql_result_1.show()

#Crea una segunda consulta SQL sobre associates
sql_result_2 = spark.sql("SELECT * FROM associates WHERE age BETWEEN 45 AND 60 AND location='California'")
print("Showing the results after using Where clause in select query")
sql_result_2.show()

Showing the results of the select query
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington| null|
|       A003|         Jeff|  56|      null| null|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Showing the results after using Where clause in select query
+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
+-----------+-------------+---+----------+-----+

## <span style="color:blue">Operaciones y funciones con los dataframes de Spark</span>

### Función filter

In [21]:
# Busca Spark
# import findspark
#findspark.init()

# sesión Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkFilters").getOrCreate()

# datos
df = spark.read.csv("../Datos/items_bought.csv",header=True,inferSchema=True)
df.show(4)

print("Result after filtering total_amount greater than 1500")
df.filter("total_amount>1500").show() #filtering based on SQL type syntax

#filtering based on multiple column conditions
print("Result after filtering based on item_price and tax_amount")
df.filter((df["item_price"]>1000)&(df["tax_amount"]>500)).show() 

#collecting the record based on a condition
result_data = df.filter((df["total_amount"]==1924.74)).collect()

#fetching data from the collected result
resulting_date = result_data[0]["date"] 
print("The collected data point's date value is " + resulting_date)

#converting the result to a dictionary
result_data[0].asDict()

+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|11-10-2018|     Beer|     110.5|       2|     53.04|      163.54|
|14-02-2018|   Whisky|    1250.0|       1|     300.0|      1550.0|
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
|05-10-2018|      Rum|     550.0|       2|     264.0|       814.0|
+----------+---------+----------+--------+----------+------------+
only showing top 4 rows

Result after filtering total_amount greater than 1500
+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|14-02-2018|   Whisky|    1250.0|       1|     300.0|      1550.0|
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
+----------+---------+----------+--------+----------+------------+

Result after filtering based on item_price and tax_amount
+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
+----------+---------+----------+--------+----------+------------+

The collected data point's date value is 23-03-2020

{'date': '23-03-2020',
 'item_name': 'Whisky',
 'item_price': 1300.5,
 'quantity': 2,
 'tax_amount': 624.24,
 'total_amount': 1924.74}

### Función groupBy

GroupBy nos permite agrupar filas en función de algún valor común. Generalmente si hay
es una columna que se repite, podemos aplicar groupBy en esa columna y podemos obtener cada uno y
cada valor repetido como un grupo distinto y podemos aplicar nuestra lógica o requisitos basados
sobre estos ciertos grupos.

Hay varios otros métodos que podemos usar con la función groupBy y son:

* `count()`: devuelve el recuento de filas para cada grupo.
* `mean()`: devuelve la media de los valores de cada grupo.
* `max()`: devuelve el máximo de valores para cada grupo.
* `min()`: devuelve el mínimo de valores para cada grupo.
* `sum()`: devuelve el total o la suma de los valores de cada grupo.
* `avg()`: devuelve el promedio de los valores de cada grupo.
* `agg()`: se puede usar para calcular más de un agregado a la vez, veremos más


Acerca de la función `agg()` en el siguiente tema de la función agregada y también aprenda cómo
para usarlo con la función groupBy

### La función de agregación

Como su nombre indica, se utiliza para realizar algunas operaciones de agregación.
como suma, promedio y así, en un conjunto de valores de las columnas y salidas un consolidado o
resultado de un solo valor.


La función de agregación se puede usar para agregar entre todas las filas del DataFrame y también
como se puede usar con la función groupBy para agregar dentro de las filas de cada grupo.
Un punto importante a tener en cuenta es que la función agregada toma en un diccionario como su
parámetro. Es decir, podemos dar la clave y el valor del diccionario como nombre de la columna.
y el nombre de la operación (como suma, media y así) respectivamente.

In [25]:
# Busca Spark
# import findspark
#findspark.init()

# sesión  Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkGroupBy&Agg').getOrCreate()

df = spark.read.csv("../Datos/company_product_revenue.csv",header=True,inferSchema=True)
df.show(4)

print("Total revenue_sales per company")
df.groupBy("company_name").sum().show()

print("Total revenue_sales for the entire data")
df.agg({"revenue_sales":"sum"}).show()

print("Max revenue_sales value per company")
df.groupBy("company_name").agg({"revenue_sales":"max"}).show()

print("Ordering the data based on the revenue_sales in ascending order")
df.orderBy("revenue_sales").show(5)

print("Ordering the data based on the revenue_sales in descending order")
df.orderBy(df["revenue_sales"].desc()).show(5)

+-------------+------------+-------------+
| company_name|product_name|revenue_sales|
+-------------+------------+-------------+
|         Audi|          A4|          450|
|Mercedes Benz|     G Class|         1200|
|          BMW|          X1|          425|
|     Mahindra|     XUV 500|          850|
+-------------+------------+-------------+
only showing top 4 rows

Total revenue_sales per company
+-------------+------------------+
| company_name|sum(revenue_sales)|
+-------------+------------------+
|          Kia|              1140|
|         Audi|              2275|
|     Mahindra|              1640|
|          BMW|              1975|
|Mercedes Benz|              2570|
+-------------+------------------+

Total revenue_sales for the entire data
+------------------+
|sum(revenue_sales)|
+------------------+
|              9600|
+------------------+

Max revenue_sales value per company
+-------------+------------------+
| company_name|max(revenue_sales)|
+-------------+------------------+
|          Kia|               690|
|         Audi|               725|
|     Mahindra|               850|
|          BMW|               850|
|Mercedes Benz|              1200|
+-------------+------------------+

Ordering the data based on the revenue_sales in ascending order
+-------------+------------+-------------+
| company_name|product_name|revenue_sales|
+-------------+------------+-------------+
|          BMW|          X1|          425|
|         Audi|          A4|          450|
|          Kia|    Carnival|          450|
|Mercedes Benz|     C Class|          470|
|         Audi|          Q7|          500|
+-------------+------------+-------------+
only showing top 5 rows

Ordering the data based on the revenue_sales in descending order
+-------------+------------+-------------+
| company_name|product_name|revenue_sales|
+-------------+------------+-------------+
|Mercedes Benz|     G Class|         1200|
|Mercedes Benz|         GLS|          900|
|     Mahindra|     XUV 500|          850|
|          BMW|          X5|          850|
|     Mahindra|     XUV 300|          790|
+-------------+------------+-------------+
only showing top 5 rows

Hay varias funciones estándar que son muy útiles en nuestra creación de lógica y secuencias de comandos,
que nos ayudará a manipular y jugar fácilmente con los datos.

Hay varias funciones estándar y funciones complejas como la correlación, desviación estándar que podamos usar fácilmente. Para hacer esto, tenemos que importar la funciones estándar queremos usar de `pyspark.sql.functions` y se puede hacer asi por ejemplo:

+ `from pyspark.sql.functions import stddev,avg, format_number`

Esta funciones se pueden combinar como por ejemplo de esta forma:

+ `df.select(avg(“revenue_sales”).alias(“Average”).show()`

Veámos el ejemplo completo.

In [4]:
# Busca Spark
# import findspark
#findspark.init()

# sesión  Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkInbuiltFunctions").getOrCreate()

# Importa funciones preconstruidas
from pyspark.sql.functions import mean,avg,format_number 

df = spark.read.csv("../Datos/company_product_revenue.csv",header=True,inferSchema =True)

#Usando la función mean 
df.select(mean("revenue_sales").alias("Mean Revenue Sales")).show()

#Usando la función average
result_avg = df.select(avg("revenue_sales").alias("Average Revenue Sales")) 

#formateando  números a 2 decimales                                                
print("Average Revenue Sales value is {0}".format(result_avg.head()[0]))
result_avg.select(format_number("Average revenue Sales",2).alias("Formatted Average")).show()

+------------------+
|Mean Revenue Sales|
+------------------+
| 685.7142857142857|
+------------------+

Average Revenue Sales value is 685.7142857142857
+-----------------+
|Formatted Average|
+-----------------+
|           685.71|
+-----------------+

## <span style="color:blue">Datos faltantes en los Dataframes  de Spark</span>

Hay varias formas de manejar este problema de datos faltantes. Podríamos eliminar el punto de datos que contiene datos faltantes o completarlo con algún valor calculado o predeterminado y así.

Vamos a aprender las diversas formas en que podemos manejar estos datos faltantes en detalle. Y para comprender mejor, trabajemos con algunos datos reales que contienen pocos valores nulos o faltantes.

### Descartando las filas o puntos de datos que contienen valores nulos.

Podemos eliminar los valores faltantes de nuestro DataFrame usando el método `drop()` que está asociado con el método "na" en el DataFrame. 

La función *drop()* devuelve un nuevo DataFrame omitiendo todas las filas con valores nulos. Por ejemplo: 

+ `df.na.drop().show()`

Esto elimina todas las columnas que tienen valores nulos presentes en el DataFrame "df".
Las funciones *drop()* tienen 3 parámetros importantes:

* how:  el parámetro *how* tiene dos opciones principales "cualquiera" y "todos". De forma predeterminada, *how='any'*, y significa eliminar todas esas filas, si alguno de los valores de las filas tiene un valor nulo. La segunda opción es how='all', que elimina todos los filas que tienen todos los valores de fila como nulos. Ejemplo: 

+ `df.na.drop(how = ’all’).show()`


* thresh:  el parámetro *thresh* se puede asignar con un número natural y basado en el valor que considere todas las filas que tienen valores no nulos iguales o superiores al número de umbral que se han  especificado. Ejemplo: 

+ `df.na.drop(thresh = 2).show ()`

+ subset-: El parámetro subset se puede utilizar para especificar las columnas que queremos considerar para comprobar o validar los valores nulos. Ejemplo: 

+ `df.na.drop(subset = [column_name(s)]).show()`

### Llenado de valores nulos con otros valores

Sintaxis: `df.na.fill(value, subset=None)`

### Reemplazo de valores específicos en el dataframe con otros valores

Sintaxis: `df.na.replace(to_replace, replace, subset=None)` 

Veamos el ejemplo completo:

In [5]:
# Busca Spark
# import findspark
#findspark.init()

# sesión  Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkMisingData").getOrCreate()

df = spark.read.csv("../Datos/employee_data.csv",header=True,inferSchema=True)
df.show()

print("Data after dropping the rows having null values")
df.na.drop().show()

print("Data after dropping the rows having atleast 4 non-null values")
df.na.drop(thresh=4).show()

print("Data after dropping the rows having null values in hours column")
df.na.drop(subset="hours").show()

print("Data after filling the rows having null values in hours column")

df.na.fill(12,subset="hours").show()

#importa la función mean
from pyspark.sql.functions import mean 
mean_value = df.select(mean("hours")).collect()[0][0]

#calcula el valor medio
print("Data after filling the rows having null values in hours column with calculated mean value")
df.na.fill(mean_value,subset="hours").show()

print("Data after replacing a specific rows value in employee_name column")
df.na.replace("Pichai","Sundar",subset="employee_name").show()

+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington| null|
|       A003|         Jeff|  56|      null| null|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Data after dropping the rows having null values
+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
+-----------+-------------+---+----------+-----+

Data after dropping the rows having atleast 4 non-null values
+-----------+-------------+---+----------+-----+
|employee_id|employee_name|age|  location|hours|
+-----------+-------------+---+----------+-----+
|       G001|       Pichai| 47|California|   14|
|       M002|         Bill| 64|Washington| null|
+-----------+-------------+---+----------+-----+

Data after dropping the rows having null values in hours column
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Data after filling the rows having null values in hours column
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington|   12|
|       A003|         Jeff|  56|      null|   12|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Data after filling the rows having null values in hours column with calculated mean value
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Pichai|  47|California|   14|
|       M002|         Bill|  64|Washington|   13|
|       A003|         Jeff|  56|      null|   13|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

Data after replacing a specific rows value in employee_name column
+-----------+-------------+----+----------+-----+
|employee_id|employee_name| age|  location|hours|
+-----------+-------------+----+----------+-----+
|       G001|       Sundar|  47|California|   14|
|       M002|         Bill|  64|Washington| null|
|       A003|         Jeff|  56|      null| null|
|       A004|         null|null|      null|   12|
+-----------+-------------+----+----------+-----+

## <span style="color:blue">Trabajar con fecha y hora en Spark Dataframe</span>

Es muy importante comprender cómo lidiar con la fecha y la hora usando dataframes de Spark.

La mayoría de los conjuntos de datos pueden tener una característica o columna basada en fecha y hora en su esquema. Y algunos de los requisitos también se basarían en el criterio de fecha y hora.

Para lidiar con estos escenarios de fecha y hora, veamos algunas funciones incorporadas que
están disponibles para nosotros con la biblioteca pyspark.

Algunas de las funciones de tiempo de datos más utilizadas:

+ *dayofmounth()*: Extraer el día del mes de una fecha determinada.
+ *mounth*: Extraer mes de la fecha
+ *year*: Extraer año de la fecha
+ *weekofyear*: Extraer semana del año en la fecha
+ *date_format(date, format)*: Convertir una fecha, marca de tiempo o cadena en un valor de cadena en el formato especificado por el formato de fecha dado por el segundo argumento.

Veamos el ejemplo:

In [7]:
# Busca Spark
# import findspark
#findspark.init()

# sesión  Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SparkDateTime").getOrCreate()

# datos
df = spark.read.csv("../Datos/items_bought.csv",header=True,inferSchema=True)
df.show(3)

print("Schema with date as string datatype")
df.printSchema()

#importar las funciones necesarias para convertir la cadena de fecha al tipo de fecha
from pyspark.sql.functions import unix_timestamp, from_unixtime, to_date 
updated_df = df.withColumn('formatted_date',to_date(unix_timestamp(df['date'],'dd-MM-yyyy').cast('timestamp')))

print("Schema with date column string datatype converted to date datatype")
updated_df.printSchema()

print("Data after dropping the date column which was of string type")
updated_df=updated_df.drop("date") #dropping the date column with string type
updated_df.show(2)

#extraer datos de fechas
from pyspark.sql.functions import weekofyear, dayofmonth,month,year,date_format 

print("Data Extraction from dates")
final_df = updated_df.select(updated_df["item_name"],
weekofyear(updated_df["formatted_date"]).alias("week_number"),
dayofmonth(updated_df["formatted_date"]).alias("day_number"),
month(updated_df["formatted_date"]).alias("month"),
year(updated_df["formatted_date"]).alias("year"))
final_df.show(3)

#convertir el tipo de fecha a una cadena de formato de fecha diferente
date_string_value = updated_df.select(df["item_name"],date_format(updated_df["formatted_date"],'MM/dd/yyyy')) 
date_string_value.show(2)

print("Usecase - Total amount of items purchased in that particular year")
final_format=final_df.groupBy("year").sum().select(["year","sum(year)"])
final_format.withColumnRenamed("sum(year)","Total Expenditure").show()

+----------+---------+----------+--------+----------+------------+
|      date|item_name|item_price|quantity|tax_amount|total_amount|
+----------+---------+----------+--------+----------+------------+
|11-10-2018|     Beer|     110.5|       2|     53.04|      163.54|
|14-02-2018|   Whisky|    1250.0|       1|     300.0|      1550.0|
|23-03-2020|   Whisky|    1300.5|       2|    624.24|     1924.74|
+----------+---------+----------+--------+----------+------------+
only showing top 3 rows

Schema with date as string datatype
root
 |-- date: string (nullable = true)
 |-- item_name: string (nullable = true)
 |-- item_price: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- tax_amount: double (nullable = true)
 |-- total_amount: double (nullable = true)

Schema with date column string datatype converted to date datatype
root
 |-- date: string (nullable = true)
 |-- item_name: string (nullable = true)
 |-- item_price: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- tax_amount: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- formatted_date: date (nullable = true)

Data after dropping the date column which was of string type
+---------+----------+--------+----------+------------+--------------+
|item_name|item_price|quantity|tax_amount|total_amount|formatted_date|
+---------+----------+--------+----------+------------+--------------+
|     Beer|     110.5|       2|     53.04|      163.54|    2018-10-11|
|   Whisky|    1250.0|       1|     300.0|      1550.0|    2018-02-14|
+---------+----------+--------+----------+------------+--------------+
only showing top 2 rows

Data Extraction from dates
+---------+-----------+----------+-----+----+
|item_name|week_number|day_number|month|year|
+---------+-----------+----------+-----+----+
|     Beer|         41|        11|   10|2018|
|   Whisky|          7|        14|    2|2018|
|   Whisky|         13|        23|    3|2020|
+---------+-----------+----------+-----+----+
only showing top 3 rows

+---------+---------------------------------------+
|item_name|date_format(formatted_date, MM/dd/yyyy)|
+---------+---------------------------------------+
|     Beer|                             10/11/2018|
|   Whisky|                             02/14/2018|
+---------+---------------------------------------+
only showing top 2 rows

Usecase - Total amount of items purchased in that particular year
+----+-----------------+
|year|Total Expenditure|
+----+-----------------+
|2018|             6054|
|2019|             4038|
|2020|             8080|
+----+-----------------+