# <span style="color:green"><center>Diplomado en Big Data</center></span>

# <span style="color:red"><center>SQL<center></span>

##   <span style="color:blue">Profesores</span>

1. Alvaro Mauricio Montenegro Díaz, ammontenegrod@unal.edu.co
2. Daniel Mauricio Montenegro Reyes, dextronomo@gmail.com

##   <span style="color:blue">Asesora Medios y Marketing digital</span>

4. Maria del Pilar Montenegro, pmontenegro88@gmail.com

## <span style="color:blue">Asistentes</span>

## <span style="color:blue">Contenido</span>

## <span style="color:blue">Introducción</span>

Para este cuaderno, se sugiere instalar el kernel de MariaDB como se explica a continuación y simultáneamente tener abierta una terminal para conectar la base directamente, dado que las consultas de datos pueden ser un poco demoradas en Jupyter Lab.

Puede seguir todo el cuaderno directamente en la terminal.

## <span style="color:blue">Instalar Kernel MariaDB en Jupiter Lab</span>

Siga las siguientes instrucciones que encuentra en [MariaDB Jupyter Kernel Installation](https://mariadb.com/kb/en/mariadb-jupyter-kernel-installation/)

En la terminal:

python3 -m pip install mariadb_kernel

python3 -m mariadb_kernel.install

Por ejemplo en mi laptop lo hice de la siguiente manera.

(bigdata_c) alvaro@Lenovo:~$ python3 -m pip install mariadb_kernel
(bigdata_c) alvaro@Lenovo:~$ python3 -m mariadb_kernel.install

#### Configuración de MariaDB para el IKernel de MariaDB

Ahora vaya a la carpeta 

~/.jupyter 

y cree el archivo mariadb_config.json. por ejemplo, si tiene instalado el editor gedit escriba

gedit mariadb_config.json

Copie el siguiente código que define un string de conección que usara Jupyter Lab para conectarse con MariaDB. Coloque su password(en el lugar de "securepassword" de root, si va a comunicarse con este usuario

{
    "user": "root",
    "host": "localhost",
    "port": "3306",
    "password": "securepassword",
    "start_server": "True",
    "client_bin": "/usr/bin/mariadb",
    "server_bin": "/usr/bin/mariadbd"
}

Si necesita cambiar el password de root siga las siguientes instrucciones [Cambiar password en mariadb](https://blog.carreralinux.com.ar/2017/03/cambiar-la-clave-de-root-mysql-mariadb/)

Si perdió el password de root entre como super usuario de Linux asi y siga las instrucciones del enlace.

(bigdata_c) alvaro@Lenovo:~$ sudo mariadb

In [ ]:
# Prueba

In [56]:
SHOW DATABASES;

## <span style="color:blue">Primera base de datos</span>

In [57]:
CREATE DATABASE GRUṔOS;

In [5]:
DROP DATABASE GRUṔOS;

In [9]:
CREATE DATABASE GRUPOS 
CHARACTER SET latin1 
COLLATE latin1_bin;

In [10]:
SHOW DATABASES;

In [58]:
USE GRUPOS;

## Creación de tablas

In [12]:
CREATE TABLE PAIS(
IdPai INT AUTO_INCREMENT PRIMARY KEY,
NomPai VARCHAR(255) UNIQUE NOT NULL,
AbrevPai VARCHAR(3) UNIQUE;
);

In [59]:
DESCRIBE PAIS;

## Inserta datos

In [15]:
INSERT INTO PAIS(NomPai, AbrevPai)
VALUES ('Colombia', 'col'),
('Estados Unidos','usa'),
('España', 'esp');

## Consulta Valores en la tabla

In [60]:
SELECT * FROM PAIS;

### Creación de una segunda tabla PAIS (PAIS_ONU)

Subiremos los datos de países desde una tabla. Como tiene un esqumea propia, la subimos en una seguna tabla para luego alimentar nuestra tabla PAIS:

In [19]:
CREATE TABLE PAIS_ONU(
NomPai_Esp VARCHAR(255) UNIQUE NOT NULL,
NomPai_Ing VARCHAR(255) UNIQUE NOT NULL,
NomPai_Fra VARCHAR(255) UNIQUE NOT NULL,
iso2 VARCHAR(2) UNIQUE,
iso3 VARCHAR(2) UNIQUE,
phonecode  VARCHAR(3) UNIQUE   
);

In [61]:
describe PAIS_ONU;

In [ ]:
nombre, name, nom, iso2, iso3, phone_code

### Subir datos a una tabla desde un archivo externo


Subiremos uno datos que tenemos en una carpeta local. En realidad puede hacerse desde cualquier sitio en la Internet.

Para detalles y ampliación puede consultar por ejemplo [Introduciendo datos al servidor MySQL desde CSV](https://poesiabinaria.net/2013/02/introduciendo-datos-al-servidor-mysql-desde-csv-con-ejemplos/)

#### Ejercicio

Cree una tabla y carge en ella datos directamente desde un fuente de alguna URL.

In [ ]:
Vamos con el ejemplo

In [28]:
LOAD DATA
LOCAL INFILE '/home/alvaro/Documents/Cursos/Big_Data/Datos/paises.csv'
INTO TABLE PAIS_ONU
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

Si nos muestra el siguiente error:
ERROR 1148 (42000): The used command is not allowed with this MySQL version
Se corrige así: 

mysql –local-infile=1 -u user -p

In [30]:
SELECT TOP 10 * FROM PAIS_ONU;

In [31]:
SELECT  * FROM PAIS_ONU
LIMIT 10;

Hay problemas con algunos caracteres. Cúal es el problema y cómo resolverlo?

Ayuda [Setting Character Sets and Collations em MariaDB](https://mariadb.com/kb/en/setting-character-sets-and-collations/)

Vamo a consultar los juegos de caracters de nuestras bases de datos

In [2]:
SELECT * FROM INFORMATION_SCHEMA.SCHEMATA;

Fíjese que creamos intencionalmente la tabla GRUPOS con el juego latin1, que es el default de MariaDB. Vamos a cambiar esta característica de la base de datos. Colocaremos utf8.

In [6]:
USE GRUPOS;

In [7]:
ALTER TABLE PAIS_ONU  
CONVERT TO CHARACTER SET 'utf8'
COLLATE  'utf8_general_ci';

### Juegos de caracteres dsiponibles

In [ ]:
Esots son los juegos de caracters disponibles

In [8]:
SHOW CHARACTER SET;

Cambiamos el character set de la base de datos  [ALTER DATABASE](https://www.mariadbtutorial.com/mariadb-basics/mariadb-alter-database/)

In [11]:
ALTER DATABASE GRUPOS
character set = 'utf8mb4'
collate = 'utf8mb4_general_ci';

In [ ]:
Verificamos

In [12]:
SELECT * FROM INFORMATION_SCHEMA.SCHEMATA;

### Eliminación de registros

In [ ]:
Vamos a elinar todos los registros y los volvermos a leer. Esta sentencia es muy peligora en general.

Luego vemos como eliminar más cuidadosamente

In [14]:
DELETE FROM PAIS_ONU;

In [15]:
SELECT * FROM PAIS_ONU;

In [ ]:
LOAD DATA
LOCAL INFILE '/home/alvaro/Documents/Cursos/Big_Data/Datos/paises.csv'
INTO TABLE PAIS_ONU
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

In [ ]:
SHOW WARNINGS;

In [16]:
DESCRIBE PAIS_ONU;

ALTER TABLE

In [20]:
ALTER TABLE PAIS_ONU
CHANGE iso2 iso2 varchar(10),
CHANGE iso3 iso3 varchar(10),
CHANGE phonecode phonecode varchar(10);

In [21]:
DESCRIBE PAIS_ONU;

In [ ]:
LOAD DATA
LOCAL INFILE '/home/alvaro/Documents/Cursos/Big_Data/Datos/paises.csv'
INTO TABLE PAIS_ONU
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

¿Cómo va nuestra solución?

Insista hasta que pueda subir toda la tabla sin errores ni warning

## Creando la tabla EDITORIAL

Consulte [Foreign Keys](https://mariadb.com/kb/en/foreign-keys/)

In [39]:
CREATE TABLE EDITORIAL(
  IdEdi MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
  NomEdi VARCHAR(100) NOT NULL,
  IdPai INT  NOT NULL,
  CONSTRAINT
    fk_EDITORIAL_LIBRO FOREIGN KEY (IdPai) REFERENCES PAIS (IdPai)
    ON DELETE CASCADE
    ON UPDATE RESTRICT
) ENGINE = InnoDB;

In [35]:
DESCRIBE EDITORIAL;

In [27]:
describe PAIS;

In [ ]:
crea un registro en Editorial

In [40]:
INSERT INTO EDITORIAL(NomEdi, IdPai)
VALUES ('Unibiblos', 1),
('Springer',2),
('Oveja Negra', 3);

# PRODUCTO CARTESIANO

Recupera el identificador de la editorial , nombre y pais

In [41]:
SELECT IdEdi as iIdentificador, NomEdi AS Editorial, NomPai AS País
FROM EDITORIAL, PAIS;

## Producto Natural

In [43]:
SELECT IdEdi as iIdentificador, NomEdi AS Editorial, NomPai AS País
FROM EDITORIAL  
INNER JOIN PAIS
ON  EDITORIAL.IdPai = PAIS.IdPai;

## Solución alternativa

In [44]:
SELECT IdEdi as Identificador, NomEdi AS Editorial, NomPai AS País
FROM EDITORIAL as E, PAIS as P
WHERE E.idPai = P.IdPai;

## Tabla LIBRO

In [46]:
CREATE TABLE LIBRO(
  IdLib MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
  Titulo VARCHAR(200) NOT NULL,
  ISSN VARCHAR(15),
  IdEdi MEDIUMINT UNSIGNED  NOT NULL,
  CONSTRAINT 
    fk_LIBRO_EDITORIAL  FOREIGN KEY (IdEdi) REFERENCES EDITORIAL (IdEdi)
    ON DELETE CASCADE
    ON UPDATE RESTRICT
) ENGINE = InnoDB;

## Tabla AUTOR

In [48]:
CREATE TABLE AUTOR(
  IdAut MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
  Nombre VARCHAR(100) NOT NULL,
  Ide VARCHAR(50) DEFAULT 'N.D.',
  IdPai INT  NOT NULL,
  CONSTRAINT 
    fk_AUTOR_PAIS FOREIGN KEY (IdPai) REFERENCES PAIS (IdPai)
    ON DELETE CASCADE
    ON UPDATE RESTRICT
) ENGINE = InnoDB;

## Tabla de intersección AUTOR_LIBRO

In [54]:
CREATE TABLE AUTOR_LIBRO(
  Orden SMALLINT UNSIGNED ,
  IdAut MEDIUMINT UNSIGNED NOT NULL,
  IdLib MEDIUMINT UNSIGNED NOT NULL,
  PRIMARY KEY (IdAut,IdLib ),
  CONSTRAINT 
    fk_AUTOR_LIBRO_AUTOR  FOREIGN KEY (IdAut) REFERENCES AUTOR (IdAut)
    ON DELETE CASCADE
    ON UPDATE RESTRICT,
  CONSTRAINT 
    fk_AUTOR_LIBRO_LIBRO  FOREIGN KEY (IdLib) REFERENCES LIBRO (IdLib) 
    ON DELETE CASCADE
    ON UPDATE RESTRICT
) ENGINE = InnoDB;

In [55]:
describe AUTOR_LIBRO;

#### Parte 2