# <span style="color:green"><center>Diplomado en Big Data</center></span>

# <span style="color:red"><center>SQL -Base de datos Sakila<center></span>

##   <span style="color:blue">Profesores</span>

1. Alvaro Mauricio Montenegro Díaz, ammontenegrod@unal.edu.co
2. Daniel Mauricio Montenegro Reyes, dextronomo@gmail.com

##   <span style="color:blue">Asesora Medios y Marketing digital</span>

4. Maria del Pilar Montenegro, pmontenegro88@gmail.com

## <span style="color:blue">Asistentes</span>

## <span style="color:blue">Contenido</span>

## <span style="color:blue">Introducción</span>

La base de datos de muestra de Sakila fue desarrollada inicialmente por Mike Hillyer, un ex miembro del equipo de documentación de MySQL AB, y está destinada a proporcionar un esquema estándar que se puede utilizar para ejemplos en libros, tutoriales, artículos, muestras, etc. La base de datos de muestra de Sakila también sirve para resaltar características de MySQL como Vistas, Procedimientos almacenados y Disparadores.

## <span style="color:blue">Instalación</span>

La base de datos de muestra de Sakila está disponible en[sakila download](https://dev.mysql.com/doc/index-other.html). n archivo descargable está disponible en un archivo tar comprimido o en formato Zip. El archivo comprimido contiene tres archivos:  sakila-schema.sql, sakila-data.sql, and sakila.mwb.

Descarge la base Sakila en uno de los formatos TAR o ZIP.

Sakila contiene comentarios específicos de la versión de MySQL, ya que el esquema y los datos de sakila dependen de la versión de su servidor MySQL. Por ejemplo, el servidor MySQL 5.7.5 agregó soporte para la indexación de datos espaciales a InnoDB, por lo que la tabla de direcciones incluirá una columna de ubicación con reconocimiento espacial para MySQL 5.7.5 y superior.

El archivo sakila-schema.sql contiene todas las declaraciones CREATE necesarias para crear la estructura de la base de datos de Sakila, incluidas tablas, vistas, procedimientos almacenados y desencadenadores.

El archivo sakila-data.sql contiene las instrucciones INSERT necesarias para completar la estructura creada por el archivo sakila-schema.sql, junto con las definiciones de los desencadenantes que deben crearse después de la carga de datos inicial.

El archivo sakila.mwb es un modelo de datos de MySQL Workbench que puede abrir dentro de MySQL Workbench para examinar la estructura de la base de datos. Para obtener más información, consulte MySQL Workbench.

Para instalar la base de datos de muestra de Sakila, siga estos pasos:

1. Extraiga el archivo de instalación en una ubicación temporal como C: \ temp \ o / tmp /. Cuando descomprime el archivo, crea un directorio llamado sakila-db que contiene los archivos sakila-schema.sql y sakila-data.sql.

2. Conéctese al servidor MariaDB o MySQL desde la terminal, según sea su caso.

In [ ]:
mysql -u root -p

In [ ]:
mariadb -u root -p

Ejecute el script sakila-schema.sql para crear la estructura de la base de datos y ejecute el script sakila-data.sql para completar la estructura de la base de datos, utilizando los siguientes comandos: (reemplace /temp/ por la carpeta ebn donde haya descargado y descomprimido los archivos)

In [ ]:
SOURCE /temp/sakila-db/sakila-schema.sql;

In [ ]:
SOURCE /temp/sakila-db/sakila-data.sql;

Ya estamos listos. Verifiquemos

In [ ]:
USE sakila;

In [ ]:
SHOW FULL TABLES;

In [ ]:
SELECT COUNT(*) FROM film;

In [ ]:
SELECT COUNT(*) FROM film_text;

### Esquema de la base de datos

El esquema de la base de datos se muestra en el siguiente diagrma producido por [worbench](https://www.mysql.com/products/workbench/).

![Esquema sakila](../Imagenes/sakila-skema_e_r.png)

### Ejercicio

Use [DBeaver](https://dbeaver.io/) para reproducir el diagrama.

### Inspección General de la base de datos

Revise en este enlace lso principales aspectos de la base de datos: [descripción de la base de datos](https://www3.ntu.edu.sg/home/ehchua/programming/sql/SampleDatabases.html#zz-2.)

### Consultando la base de datos

1. Lista de nombre completo de actores ordenada por appelido
2. Número de actores por categoría del film, orden descendiente
3. Actor qua más ventas genera por tienda (store)
4. Ventas totales por tienda

In [ ]:
SELECT CONCAT(s.first_name, _utf8' ',  s.last_name) AS Actor 
FROM actor as s
order by s.last_name;

In [ ]:
SELECT c.name as categoria, COUNT(actor_id) AS numero_actores
FROM category AS c
JOIN film_category as fc ON c.category_id = fc.category_id
JOIN film as f ON fc.film_id = f.film_id
JOIN film_actor as fa ON f.film_id = fa.film_id
GROUP BY categoria
ORDER BY numero_actores DESC;

In [ ]:
SELECT  d.address as tienda,
        CONCAT(a.first_name, _utf8' ',  a.last_name) AS actor_estrella,
        MAX(p.amount) as valor
FROM actor AS a
JOIN film_actor AS fa ON a.actor_id = fa.actor_id
JOIN film AS f ON fa.film_id = f.film_id
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN payment AS p ON r.rental_id = p.rental_id
JOIN store AS s ON i.store_id = s.store_id
JOIN address AS d ON s.address_id = d.address_id
GROUP BY tienda;

In [ ]:
select  d.address as tienda,
        SUM(p.amount) as valor
from    address as d
join    store as s on s.address_id = d.address_id
join    inventory as i on i.store_id = s.store_id
join    rental as r on r.inventory_id = i.inventory_id
join    payment as p on p.rental_id = r.rental_id
group by tienda;