<figure>
<img src="../Imagenes/logo-final-ap.png"  width="80" height="80" align="left"/> 
</figure>

# <span style="color:blue"><left>Aprendizaje Profundo</left></span>

# <span style="color:red"><center>SQL<center></span>

##   <span style="color:blue">Profesores</span>

1. Alvaro Mauricio Montenegro Díaz, ammontenegrod@unal.edu.co
2. Daniel Mauricio Montenegro Reyes, dextronomo@gmail.com

##   <span style="color:blue">Asesora Medios y Marketing digital</span>

4. Maria del Pilar Montenegro, pmontenegro88@gmail.com

## <span style="color:blue">Contenido</span>

* [Introducción](#Introducción)
* [Instalar Kernel MariaDB en Jupiter Lab](#Instalar-Kernel-MariaDB-en-Jupiter-Lab)
* [Primera base de datos: create database](#Primera-base-de-datos:-create-database)
* [Creación de tablas: create table](#Creación-de-tablas:-create-table)
* [Consultas iniciales en SQL: insert into, select](#Consultas-iniciales-en-SQL:-insert,-select)
* [Llaves foráneas: foreign key](#Llaves-foráneas:-foreign-key)
* [Producto cartesiano: select where](#Producto-cartesiano:-select-where)
* [Producto natural: join](#Producto-natural:-join)
* [Relaciones muchos a muchos](#Relaciones-muchos-a-muchos)
* [Subida de datos desde una archivo extrerno](#Subida-de-datos-desde-un-archivo-externo)

## <span style="color:blue">Introducción</span>

Para este cuaderno, se sugiere instalar el kernel de MariaDB como se explica a continuación y simultáneamente tener abierta una terminal para conectar la base directamente, dado que las consultas de datos pueden ser un poco demoradas en Jupyter Lab.

Puede seguir todo el cuaderno directamente en la terminal.

## <span style="color:blue">Instalar Kernel MariaDB en Jupiter Lab</span>

Siga las siguientes instrucciones que encuentra en [MariaDB Jupyter Kernel Installation](https://mariadb.com/kb/en/mariadb-jupyter-kernel-installation/)

En la terminal:

python3 -m pip install mariadb_kernel

python3 -m mariadb_kernel.install

Por ejemplo en mi laptop lo hice de la siguiente manera.

(bigdata_c) alvaro@Lenovo:~$ python3 -m pip install mariadb_kernel
(bigdata_c) alvaro@Lenovo:~$ python3 -m mariadb_kernel.install

#### Configuración de MariaDB para el IKernel de MariaDB

Ahora vaya a la carpeta 

~/.jupyter 

y cree el archivo mariadb_config.json. por ejemplo, si tiene instalado el editor gedit escriba

gedit mariadb_config.json

Copie el siguiente código que define un string de conección que usara Jupyter Lab para conectarse con MariaDB. Coloque su password(en el lugar de "securepassword" de root, si va a comunicarse con este usuario

{
    "user": "root",
    "host": "localhost",
    "port": "3306",
    "password": "securepassword",
    "start_server": "True",
    "client_bin": "/usr/bin/mariadb",
    "server_bin": "/usr/bin/mariadbd"
}

Si necesita cambiar el password de root siga las siguientes instrucciones [Cambiar password en mariadb](https://blog.carreralinux.com.ar/2017/03/cambiar-la-clave-de-root-mysql-mariadb/)

Si perdió el password de root entre como super usuario de Linux asi y siga las instrucciones del enlace.

(bigdata_c) alvaro@Lenovo:~$ sudo mariadb

Normalmente entra a mariadb de la siguiente forma como usuario root desde la consola

In [ ]:
(bigdata_c) alvaro@Lenovo:~$ mysql -u root -p

In [ ]:
En este punto mariadb le solicita su pasword

Si todo ah ido bien Recibe el siguiente mensaje indicando que se encuentra dentro del sistema de la base de datos

In [ ]:
MariaDB [(none)]>

## <span style="color:blue">Primera base de datos: create database</span>

In [57]:
CREATE DATABASE GRUPOS;

In [5]:
DROP DATABASE GRUPOS;

In [9]:
CREATE DATABASE GRUPOS 
CHARACTER SET latin1 
COLLATE latin1_bin;

In [8]:
SHOW DATABASES;

Database
CLASE_INFO
GRUPOS
GRUPOS_COLOMBIA
birdwatchers
information_schema
mysql
performance_schema
rookery
sakila
test

In [9]:
USE GRUPOS;

In [10]:
SHOW TABLES;

Tables_in_GRUPOS
AUTOR
AUTOR_LIBRO
EDITORIAL
LIBRO
PAIS
PAIS_ONU

## <span style="color:blue">Creación de tablas: create table</span>

In [12]:
CREATE OR REPLACE TABLE PAIS(
IdPai MEDIUMINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
NomPai VARCHAR(100) UNIQUE NOT NULL,
AbrevPai VARCHAR(3) UNIQUE
);

In [11]:
DESCRIBE PAIS;

Field,Type,Null,Key,Default,Extra
IdPai,int(11),NO,PRI,NULL,auto_increment
NomPai,varchar(255),NO,UNI,NULL,
AbrevPai,varchar(3),YES,UNI,NULL,

## <span style="color:blue">Consultas iniciales en SQL: insert into, select</span>

### Inserta datos

In [15]:
INSERT INTO PAIS(NomPai, AbrevPai)
VALUES ('Colombia', 'col'),
('Estados Unidos','usa'),
('España', 'esp');

### Consulta Valores en la tabla

In [12]:
SELECT * FROM PAIS;

IdPai,NomPai,AbrevPai
1,Colombia,col
2,Estados Unidos,usa
3,España,esp
4,Francia,NULL

## <span style="color:blue">Llaves foráneas</span>

### Creando la tabla EDITORIAL

Consulte [Foreign Keys](https://mariadb.com/kb/en/foreign-keys/)

In [39]:
CREATE OR REPLACE TABLE EDITORIAL(
  IdEdi MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
  NomEdi VARCHAR(100) NOT NULL,
  IdPai MEDIUMINT UNSIGNED  NOT NULL,
  CONSTRAINT
    fk_EDITORIAL_LIBRO FOREIGN KEY (IdPai) REFERENCES PAIS (IdPai)
    ON DELETE CASCADE
    ON UPDATE RESTRICT
) ENGINE = InnoDB;

In [13]:
DESCRIBE EDITORIAL;

Field,Type,Null,Key,Default,Extra
IdEdi,mediumint(8) unsigned,NO,PRI,NULL,auto_increment
NomEdi,varchar(100),NO,,NULL,
IdPai,int(11),NO,MUL,NULL,

In [14]:
describe PAIS;

Field,Type,Null,Key,Default,Extra
IdPai,int(11),NO,PRI,NULL,auto_increment
NomPai,varchar(255),NO,UNI,NULL,
AbrevPai,varchar(3),YES,UNI,NULL,

In [ ]:
crea un registro en Editorial

In [40]:
INSERT INTO EDITORIAL(NomEdi, IdPai)
VALUES ('Unibiblos', 1),
('Springer',2),
('Oveja Negra', 3);

In [15]:
SELECT * FROM EDITORIAL;

IdEdi,NomEdi,IdPai
1,Unibiblos,1
2,Springer,2
3,Oveja Negra,3

## <span style="color:blue">Producto cartesiano: select where</span>

Recupera el identificador de la editorial , nombre y pais

In [16]:
SELECT IdEdi as Identificador, NomEdi AS Editorial, NomPai AS País
FROM EDITORIAL, PAIS;

Identificador,Editorial,País
1,Unibiblos,Colombia
2,Springer,Colombia
3,Oveja Negra,Colombia
1,Unibiblos,España
2,Springer,España
3,Oveja Negra,España
1,Unibiblos,Estados Unidos
2,Springer,Estados Unidos
3,Oveja Negra,Estados Unidos
1,Unibiblos,Francia
2,Springer,Francia
3,Oveja Negra,Francia

## <span style="color:blue">Producto Natural: join</span>

El producto natural sirve para especificar las relaciones entra tablas en una consulta.  La cláusula básica para indicar el producto natural es `JOIN`. El siguiente ejemlo ilustra el uso básico de JOIN.

In [43]:
SELECT IdEdi as iIdentificador, NomEdi AS Editorial, NomPai AS País
FROM EDITORIAL  
INNER JOIN PAIS
ON  EDITORIAL.IdPai = PAIS.IdPai;

Observe que hemos usado `INNER JOIN` para establecer la relación entre las dos tablas. La claúsula `ON` indica como se forma la relación. En el ejemplo, dice que establecemos una relación entre las tablas EDITORIAL y PAIS mediante los campos `IdPai` que aparecen en ambas tabla. El realidad los nombre de los campos con los cuales se establece no tiene porque llamarse igual.

Lo que hace el  motor de la base de datos en este caso es calcular el producto cartesiano entre las dos tablas, con la restrcción que solamente quedaran los registros en donde el valor en los campos IdPai coincide.

En general hay tres tipos de JOIN. Observe la siguiente imagen.

<figure>
<img src="../Imagenes/JOIN.png"  width="500" height="500" align="center"/> 
</figure>

Fuente: Alvaro Montenegro

Debe interpretar de la siguiente manera:

1. `INNER JOIN` incluye todos los registros en donde EDITORIAL.IdPai y PAIS.IdPai coinciden.
1. `LEFT JOIN` Incluye todos los registro de la tabla de la izquierda (EDITORIAL). En los campos de la tabla de la derecha que no coinciden se rellenan en la consukta con NULL.
1. `RIGHT JOIN` Incluye todos los registro de la tabla de la derecha (PAIS). En los campos de la tabla de la izquierda que no coinciden se rellenan en la consuta con NULL.

Por ejemplo, supongamos que el pais Francia no tiene vinculado ninguna editorial. Consideremos la consulta

In [21]:
SELECT IdEdi as iIdentificador, NomEdi AS Editorial, NomPai AS País
FROM EDITORIAL  
RIGHT JOIN PAIS
ON  EDITORIAL.IdPai = PAIS.IdPai;

iIdentificador,Editorial,País
1,Unibiblos,Colombia
2,Springer,Estados Unidos
3,Oveja Negra,España
NULL,NULL,Francia

El registro de salida en tal caso sería

|Identificador|Editorial|País|
|---|---|---|
|NULL|NULL|Francia|

### Solución alternativa del producto natural

In [44]:
SELECT IdEdi as Identificador, NomEdi AS Editorial, NomPai AS País
FROM EDITORIAL as E, PAIS as P
WHERE E.idPai = P.IdPai;

## <span style="color:blue">Relaciones muchos a muchos</span>

### Tabla LIBRO

In [46]:
CREATE TABLE LIBRO(
  IdLib MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
  Titulo VARCHAR(200) NOT NULL,
  ISSN VARCHAR(15),
  IdEdi MEDIUMINT UNSIGNED  NOT NULL,
  CONSTRAINT 
    fk_LIBRO_EDITORIAL  FOREIGN KEY (IdEdi) REFERENCES EDITORIAL (IdEdi)
    ON DELETE CASCADE
    ON UPDATE RESTRICT
) ENGINE = InnoDB;

### Tabla AUTOR

In [48]:
CREATE TABLE AUTOR(
  IdAut MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
  Nombre VARCHAR(100) NOT NULL,
  Ide VARCHAR(50) DEFAULT 'N.D.',
  IdPai INT  NOT NULL,
  CONSTRAINT 
    fk_AUTOR_PAIS FOREIGN KEY (IdPai) REFERENCES PAIS (IdPai)
    ON DELETE CASCADE
    ON UPDATE RESTRICT
) ENGINE = InnoDB;

### Tabla de intersección AUTOR_LIBRO

In [54]:
CREATE TABLE AUTOR_LIBRO(
  Orden SMALLINT UNSIGNED ,
  IdAut MEDIUMINT UNSIGNED NOT NULL,
  IdLib MEDIUMINT UNSIGNED NOT NULL,
  PRIMARY KEY (IdAut,IdLib ),
  CONSTRAINT 
    fk_AUTOR_LIBRO_AUTOR  FOREIGN KEY (IdAut) REFERENCES AUTOR (IdAut)
    ON DELETE CASCADE
    ON UPDATE RESTRICT,
  CONSTRAINT 
    fk_AUTOR_LIBRO_LIBRO  FOREIGN KEY (IdLib) REFERENCES LIBRO (IdLib) 
    ON DELETE CASCADE
    ON UPDATE RESTRICT
) ENGINE = InnoDB;

In [22]:
describe AUTOR_LIBRO;

Field,Type,Null,Key,Default,Extra
Orden,smallint(5) unsigned,YES,,NULL,
IdAut,mediumint(8) unsigned,NO,PRI,NULL,
IdLib,mediumint(8) unsigned,NO,PRI,NULL,

## <span style="color:blue">Subida de datos desde una archivo externo</span>

### Creación de una segunda tabla PAIS (PAIS_ONU)

Subiremos los datos de países desde un  archivo externo. Los datos tiene un esqumea propio, por lo que los subiremos en una seguna tabla para luego alimentar nuestra tabla PAIS:

In [19]:
CREATE OR REPLACE TABLE PAIS_ONU(
NomPai_Esp VARCHAR(255) UNIQUE NOT NULL,
NomPai_Ing VARCHAR(255) UNIQUE NOT NULL,
NomPai_Fra VARCHAR(255) UNIQUE NOT NULL,
iso2 VARCHAR(2) UNIQUE,
iso3 VARCHAR(3) UNIQUE,
phonecode  VARCHAR(3)   
);

In [ ]:
VIEW WARNINGS;

### Cómo eliminar una tabla: drop table

In [ ]:
DROP TABLE PAIS_ONU;

### Cómo cambiar la extructura de una tabla: alter table

In [ ]:
ALTER TABLE PAIS_ONU
ALTER COLUMN phonecode set VARCHAR(5);

In [23]:
describe PAIS_ONU;

Field,Type,Null,Key,Default,Extra
NomPai_Esp,varchar(255),NO,PRI,NULL,
NomPai_Ing,varchar(255),NO,UNI,NULL,
NomPai_Fra,varchar(255),NO,UNI,NULL,
iso2,varchar(10),YES,UNI,NULL,
iso3,varchar(10),YES,UNI,NULL,
phonecode,varchar(10),YES,UNI,NULL,

### Subir datos a una tabla desde un archivo externo


Subiremos uno datos que tenemos en una carpeta local. En realidad puede hacerse desde cualquier sitio en la Internet. Para detalles y ampliación puede consultar por ejemplo [Introduciendo datos al servidor MySQL desde CSV](https://poesiabinaria.net/2013/02/introduciendo-datos-al-servidor-mysql-desde-csv-con-ejemplos/)

#### Ejercicio

Cree una tabla y carge en ella datos directamente desde un fuente de alguna URL.

In [ ]:
Vamos con el ejemplo

In [28]:
LOAD DATA
LOCAL INFILE '/home/alvaro/Documents/Cursos_UN/Cursos_2021_01/Big_Data/Datos/paises.csv'
INTO TABLE PAIS_ONU
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

Si nos muestra el siguiente error:
ERROR 1148 (42000): The used command is not allowed with this MySQL version
Se corrige así: 

mysql –local-infile=1 -u user -p

In [25]:
SELECT  * FROM PAIS_ONU
LIMIT 10;

NomPai_Esp,NomPai_Ing,NomPai_Fra,iso2,iso3,phonecode
"""Afganistán""","""Afghanistan""","""Afghanistan""","""AF""","""AFG""","""93"""
"""Albania""","""Albania""","""Albanie""","""AL""","""ALB""","""355"""
"""Alemania""","""Germany""","""Allemagne""","""DE""","""DEU""","""49"""
"""Andorra""","""Andorra""","""Andorra""","""AD""","""AND""","""376"""
"""Angola""","""Angola""","""Angola""","""AO""","""AGO""","""244"""
"""Anguila""","""Anguilla""","""Anguilla""","""AI""","""AIA""","""1 264"""
"""Antártida""","""Antarctica""","""L'Antarctique""","""AQ""","""ATA""","""672"""
"""Antigua y Barbuda""","""Antigua and Barbuda""","""Antigua et Barbuda""","""AG""","""ATG""","""1 268"""
"""Arabia Saudita""","""Saudi Arabia""","""Arabie Saoudite""","""SA""","""SAU""","""966"""
"""Argelia""","""Algeria""","""Algérie""","""DZ""","""DZA""","""213"""

Hay problemas con algunos caracteres. Cúal es el problema y cómo resolverlo?

Ayuda [Setting Character Sets and Collations em MariaDB](https://mariadb.com/kb/en/setting-character-sets-and-collations/)

Vamo a consultar los juegos de caracters de nuestras bases de datos

In [2]:
SELECT * FROM INFORMATION_SCHEMA.SCHEMATA;

Fíjese que creamos intencionalmente la tabla GRUPOS con el juego latin1, que es el default de MariaDB. Vamos a cambiar esta característica de la base de datos. Colocaremos utf8.

In [6]:
USE GRUPOS;

In [7]:
ALTER TABLE PAIS_ONU  
CONVERT TO CHARACTER SET 'utf8'
COLLATE  'utf8_general_ci';

### Juegos de caracteres dsiponibles

In [ ]:
Esots son los juegos de caracters disponibles

In [8]:
SHOW CHARACTER SET;

Cambiamos el character set de la base de datos  [ALTER DATABASE](https://www.mariadbtutorial.com/mariadb-basics/mariadb-alter-database/)

In [11]:
ALTER DATABASE GRUPOS
character set = 'utf8mb4'
collate = 'utf8mb4_general_ci';

In [ ]:
Verificamos

In [12]:
SELECT * FROM INFORMATION_SCHEMA.SCHEMATA;

### Eliminación de registros: delete

Vamos a eliminar todos los registros y los volvermos a leer. Esta sentencia es muy peligrosa en general.

Luego vemos como eliminar más cuidadosamente

In [29]:
DELETE FROM PAIS_ONU
WHERE NomPai_Esp="Venezuela" 
;

In [ ]:
SELECT * FROM PAIS_ONU;

In [ ]:
LOAD DATA
LOCAL INFILE '/home/alvaro/Documents/Cursos_2021_01/Big_Data/Datos/paises.csv'
INTO TABLE PAIS_ONU
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

In [ ]:
SHOW WARNINGS;

In [16]:
DESCRIBE PAIS_ONU;

ALTER TABLE

In [30]:
ALTER TABLE PAIS_ONU
CHANGE iso2 iso2 varchar(10),
CHANGE iso3 iso3 varchar(10),
CHANGE phonecode phonecode varchar(10);

In [21]:
DESCRIBE PAIS_ONU;

In [ ]:
LOAD DATA
LOCAL INFILE '/home/alvaro/Documents/Cursos/Big_Data/Datos/paises.csv'
INTO TABLE PAIS_ONU
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

¿Cómo va nuestra solución?

Insista hasta que pueda subir toda la tabla sin errores ni warning