(bigdata) alvaro@Lenovo:~$ conda install -c conda-forge ipython-sql
(bigdata) alvaro@Lenovo:~$ conda install -c anaconda sqlalchemy
(bigdata) alvaro@Lenovo:~$ conda install -c anaconda pymysql
(bigdata) alvaro@Lenovo:~$ conda install -c anaconda mysqlclient

In [2]:
import sqlalchemy
sqlalchemy.__version__

'1.3.23'

In [3]:
from sqlalchemy import create_engine

In [3]:
%load_ext sql

In [12]:
create_engine("mysql+pymysql://root:Alvaro1960@localhost:3306/test")

Engine(mysql+pymysql://root:***@localhost:3306/test)

In [14]:
%sql mysql+pymysql://root:Alvaro1960@localhost:3306/test

'Connected: root@test'

In [20]:
%%sql

describe books;

 * mysql+pymysql://root:***@localhost:3306/test
3 rows affected.

[('book_id', 'int(11)', 'YES', '', None, ''),
 ('title', 'text', 'YES', '', None, ''),
 ('status', 'int(11)', 'YES', '', None, '')]

# Pasando el resultado de un query en una variable

In [21]:
libros = %sql select * from books

 * mysql+pymysql://root:***@localhost:3306/test
3 rows affected.

In [22]:
libros

[(100, 'The Catche in the Rye', 1),
 (200, 'The Catcher of the Rye', 1),
 (300, 'My Antonia', 0)]

In [23]:
type(libros)

sql.run.ResultSet

In [24]:
print(libros)

+---------+------------------------+--------+
| book_id |         title          | status |
+---------+------------------------+--------+
|   100   | The Catche in the Rye  |   1    |
|   200   | The Catcher of the Rye |   1    |
|   300   |       My Antonia       |   0    |
+---------+------------------------+--------+

In [26]:
libros[0]

(100, 'The Catche in the Rye', 1)

In [27]:
type(libros[0])

sqlalchemy.engine.result.RowProxy

In [30]:
z = []
z.append(libros[0])

In [31]:
z

[(100, 'The Catche in the Rye', 1)]

In [32]:
tuple(z[0])

(100, 'The Catche in the Rye', 1)

## Pandas

In [33]:
df = libros.DataFrame()

In [34]:
df

   book_id                   title  status
0      100   The Catche in the Rye       1
1      200  The Catcher of the Rye       1
2      300              My Antonia       0

In [35]:
type(df)

pandas.core.frame.DataFrame

In [1]:
df.describe()

NameError: name 'df' is not defined