## Instalación del kernel de MariaDB para Jupyter Lab (version 2.2.6)

Siga las siguient3s instrucciones que encuentra en [MariaDB Jupyter Kernel Installation](https://mariadb.com/kb/en/mariadb-jupyter-kernel-installation/)

python3 -m pip install mariadb_kernel

(bigdata_c) alvaro@Lenovo:~$ python3 -m pip install mariadb_kernel
(bigdata_c) alvaro@Lenovo:~$ python3 -m mariadb_kernel.install

# Configuración de MariaDB para el IKernel de MariaDB

Ahora vaya a la carpeta 

~/.jupyter 

y cree el archivo mariadb_config.json. por ejemplo, si tiene instalado el editor gedit escriba

gedit mariadb_config.json

Copie el siguiente código que define un string de conección que usara Jupyter LAb apatr conectarse con MariaDB. Coloque su password(en el lugar de "securepassword" de root, si va a comunicarse con este usuario

{
    "user": "root",
    "host": "localhost",
    "port": "3306",
    "password": "securepassword",
    "start_server": "True",
    "client_bin": "/usr/bin/mariadb",
    "server_bin": "/usr/bin/mariadbd"
}

Si necesita cambiar el password de root siga las siguientes instrucciones [Cambiar password en mariadb](https://blog.carreralinux.com.ar/2017/03/cambiar-la-clave-de-root-mysql-mariadb/)

Si perdió el password de root entre coo super usuario de linux asi y siga las instrucciones del enlace.

(bigdata_c) alvaro@Lenovo:~$ sudo mariadb

In [ ]:
# Prueba

Seleccione el kernel de Mariadb arriba. O lanzar un nuevo kernel. Apenas entre escriba

In [1]:
show databases;

etc.

In [2]:
use test;

In [3]:
show tables;

In [4]:
select * from books;