# <span style="color:green"><center>Diplomado en Big Data</center></span>

# <span style="color:red"><center>Introducción a SQLAlquimia<center></span>

##   <span style="color:blue">Profesores</span>

1. Alvaro Mauricio Montenegro Díaz, ammontenegrod@unal.edu.co
2. Daniel Mauricio Montenegro Reyes, dextronomo@gmail.com 
3. Campo Elías Pardo Turriago, cepardot@unal.edu.co

##   <span style="color:blue">Asesora Medios y Marketing digital</span>

4. Maria del Pilar Montenegro, pmontenegro88@gmail.com

## <span style="color:blue">Asistentes</span>

5. Oleg Jarma, ojarmam@unal.edu.co 
6. Laura Lizarazo, ljlizarazore@unal.edu.co

## Contenido

##   <span style="color:blue">Interfaz SQL para JupyterLab</span>

Recuerde crear inicialmente un environment en jupyter. Por ejemplo un ambiente llamada se crea e invoca con las siguiente dos sentencias. De preferencia hágalo en la terminal.

In [ ]:
# !conda create -n bigdata python=3.8 numpy pandas
# conda activate bigdata

La mayoría de las veces, los datos con los que trabajamos se almacenan en archivos llamados bases de datos, y una tarea esencial de un científico de datos es poder acceder a los datos de las bases de datos y luego analizarlos. 

Por lo tanto, es una buena idea tener una interfaz entre las bases de datos SQL y Jupyter Notebook / Lab para que acceder y manipular datos sea más fácil y eficiente. Esta interfaz se puede lograr de dos formas posibles:

## <span style="color:blue">Usando la extensión IPython SQL Magic</span>

Los comandos mágicos son un conjunto de funciones convenientes en Jupyter Notebooks que están diseñadas para resolver algunos de los problemas comunes en el análisis de datos estándar. Puedes ver todas las magias disponibles con la ayuda de

- % lsmagic.

La extensión mágica de IPython SQL permite escribir consultas SQL directamente en celdas de código, así como leer los resultados directamente en Pandas DataFrames. Esto funciona tanto para los portátiles tradicionales como para los Jupyter Labs modernos.

## <span style="color:blue">Instalación de herramientas SQL para Python</span>

### SQLAlchemy

Tal y como indican en la propia web del proyecto, SQLAlchemy es un kit de herramientas SQL para Python y un ORM (Object Relational Mapper) que brinda a los desarrolladores de aplicaciones toda la potencia y flexibilidad de SQL. Vea [Guía de inicio de sqlalchemy](https://j2logo.com/python/sqlalchemy-tutorial-de-python-sqlalchemy-guia-de-inicio/)

Escriba las siguientes instrucciones en su consola para instalar soporte para

- ipython-sql: comando magico %sql
- sqlalchemy:SQLAlchemy es un kit de herramientas SQL para Python
- pymysql: PyMySQL es una interfaz para conectarse a un servidor de base de datos MySQL desde Python
- mysqlclient: Mysql connector

(bigdata) alvaro@Lenovo:~$ conda install -c conda-forge ipython-sql
(bigdata) alvaro@Lenovo:~$ conda install -c anaconda sqlalchemy
(bigdata) alvaro@Lenovo:~$ conda install -c anaconda pymysql
(bigdata) alvaro@Lenovo:~$ conda install -c anaconda mysqlclient

### Carga el comando mágico para subir la extensión sql

El comando mágico anterior carga la extensión ipython-sql. 

Podemos conectarnos a cualquier base de datos que sea compatible con SQLAlchemy. 

Aquí nos conectaremos a una base de datos SQLite. Ingrese el siguiente comando en la celda de código:

Si necesita cambiar el password de root en la base de datos (prque por ejemplo lo olvidó) sigua las siguientes instrucciones [How To Reset Your MySQL or MariaDB Root Password](https://www.digitalocean.com/community/tutorials/how-to-reset-your-mysql-or-mariadb-root-password)


Para ver la cuentas de usuari en mariadb o mysql [list users in mysql/mariadb](https://www.cyberciti.biz/faq/how-to-show-list-users-in-a-mysql-mariadb-database/)

Entrar a mariadb como superusario de Linux en la terminal

Conectar mariadb con comando mágico

In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.3.23'

In [2]:
from sqlalchemy import create_engine

In [ ]:
#engine = create_engine('sqlite:///:memory:', echo=True)

In [ ]:
#engine = create_engine("mysql+pymsql://root:Alvaro1960@localhost:3306/test?charset=utf8mb4")

In [3]:
def connect_db():
    # MySQL user: root, password:, port:, database:
    print("Start connecting to the database")
    sql_user = input("user:") # root
    sql_passwd = input("mysql password:") #Alvaro1960
    sql_host = input("host:") # localhost
    sql_port = int(input("port:")) # 3306
    sql_db = input("db:") # sakila
    
    connection_string = 'mysql+pymysql://%s:%s@%s:%d/%s' % (sql_user, sql_passwd, sql_host, sql_port, sql_db) 
    
    engine = create_engine(connection_string)
    print("%s database connection succeeded" % sql_db)
    
    return engine, connection_string

engine, connection_string = connect_db()

Start connecting to the database

user: root
mysql password: Alvaro1960
host: localhost
port: 3306
db: sakila

sakila database connection succeeded

In [4]:
connection_string

'mysql+pymysql://root:Alvaro1960@localhost:3306/sakila'

### Primera consulta

In [9]:
import pandas as pd

#Read MariaDB Data query into a DataFrame

query = "SELECT CONCAT(s.first_name, _utf8' ',  s.last_name) AS Actor \
FROM actor as s \
order by s.last_name;"

df = pd.read_sql(query, engine)
df.head()

              Actor
0     DEBBIE AKROYD
1    KIRSTEN AKROYD
2  CHRISTIAN AKROYD
3       MERYL ALLEN
4        CUBA ALLEN

##

In [10]:
query2 = "select  d.address as tienda, \
SUM(p.amount) as valor \
from    address as d \
join    store as s on s.address_id = d.address_id \
join    inventory as i on i.store_id = s.store_id \
join    rental as r on r.inventory_id = i.inventory_id \
join    payment as p on p.rental_id = r.rental_id \
group by tienda;"

df2 = pd.read_sql(query2, engine)
df2

               tienda     valor
0  28 MySQL Boulevard  33726.77
1   47 MySakila Drive  33679.79

In [11]:
?engine

Type:        Engine
String form: Engine(mysql+pymysql://root:***@localhost:3306/sakila)
File:        ~/anaconda3/envs/bigdata/lib/python3.8/site-packages/sqlalchemy/engine/base.py
Docstring:
Connects a :class:`~sqlalchemy.pool.Pool` and
:class:`~sqlalchemy.engine.interfaces.Dialect` together to provide a
source of database connectivity and behavior.

An :class:`_engine.Engine` object is instantiated publicly using the
:func:`~sqlalchemy.create_engine` function.

.. seealso::

    :doc:`/core/engines`

    :ref:`connections_toplevel`